#midpurple { /*#가 앞에 붙었으니 id=midpurple로 불러들일 수 있습니다.*/
    color: mediumpurple;
};

table { /*CSS에선 이렇게 주석을 쓸 수 있습니다.*/
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th, td { /*,로 복수의 선택자를 지정할 수 있습니다.*/
    border: 1px solid #444444;
}

html {
    font-size: 20px; /* px 은 'pixels' 를 의미합니다: 기본 글자 크기는 현재 10 pixels 높이입니다. */
    font-family: 'Jua', sans-serif;
}
